@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply max-w-3xl mx-auto px-6 pt-12 text-neutral-800;
  font-family: system-ui, sans-serif;
}

h1 {
  @apply text-4xl font-bold mb-2;
}

h2 {
  @apply text-2xl font-semibold mt-10 mb-3;
}

.section-item {
  @apply mb-4;
}
